#form>h1:hover {
    color: white;
}

.hvr-bk {
    transition: all 0.3s ease-in-out;
}

.hvr:-bk:hover {
    background-color: purple;
    border-radius: 5px;

}

.btn {
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: aqua;
    font-weight: bold;
}